@import url(https://fonts.googleapis.com/css?family=Orbitron|Roboto:400,500);

body {
  font-size: 16px;
  color: #fff;
  background-color: #000;
  font-family: Roboto, sans-serif;
}

header {
  padding: 1em 2em;
  margin-bottom: 2em;
  border-bottom: 3px solid #fff;
}

h1, h2, h3 {
  font-family: Orbitron, sans-serif;
}

.main {
  padding: 1em 2em;
}

.form-group {
  margin: 0 0.25em;
}

.form-group input {
  width: 100%;
}

.form-group select {
  width: 100%;
}

.unstyled {
  list-style: none;
}
